* {
  padding: 0;
  margin: 0;
}
.body {
  background: url("../img/bg.jpg");
  min-height: 100vh;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
#scoreBox{
  position: absolute;
  top:9px;
  right: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 50px;
}
#highscoreBox{
  position: absolute;
  top: 60px;
  right: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 50px;
}
#board {
  background: linear-gradient(rgb(129, 231, 129), rgb(235, 235, 150));
  width: 90vmin;
  height: 92vmin;
  border: solid 1px black;
  display: grid;
  grid-template-rows: repeat(18, 2fr);
  grid-template-columns: repeat(18, 1fr);
}

.head {
  background: linear-gradient(rgba(184, 12, 0, 0.979),rgb(255, 8, 61));
  border: 2px solid red;
  transform:scale(1.2);
  border-radius: 9px;
}
.snake {
  background-color: purple;
  border: .25vmin solid white;
  border-radius: 12px;
}
.food {
  background: linear-gradient( red, purple);
  border: .25vmin solid black;
  border-radius: 8px;
}
